*{
    padding: 0;
    border: 0;
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
body{
    background: #FBFAFE;
    color: #35414B;
    margin: 0;
}
.mobile-hidden{
    display: inherit!important;
}
.laptop-hidden{
    display: none!important;
}
.desktop-hidden{
    display: inherit!important;
}
.container{
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    width: 100%;
    height: 48px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-bottom: 100px;
}
.headtitle{
    display: flex;
    flex-direction: row;
    font-size: 24px;
}
.titletext{
    color: #1D2830;
    font-family: 'Josefin Sans', sans-serif;
}
.dot{
    color: #794CFF;
    font-family: 'Josefin Sans', sans-serif;
}
.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}
.menu__icon{
    width: 30px;
    background: url(images/menu.svg) center no-repeat;
}
.menu__text{
    color: #4E5A65;
    font-size: 11px;
}
.buttonsale{
    background-color: #F2F9EB;
    margin: auto;
    padding-left: 10px;
    border-radius: 100px;
    gap: 4px;
    height: 32px;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.price{
    padding: 0 5px;
    margin: auto;
    display: inline-flex;
    justify-content: center;
    font-size: 16px;
}
.right{
    background-color: #F2F9EB;
    width: 5px;
    height: 7px;
    border-radius: 0 0 100px 0;
    padding-right: 15px;
    padding-bottom: 1px;
}
.title{
    gap: 25px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
.maintitle{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 48px;
    width: 760px;
}
.subtitle{
    color: #4E5A65;
    font-size: 16px;
    width: 510px;
}
.emailtype{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.email{
    border: 1px #E1E5EA solid; 
    border-radius: 4px 2px 2px 4px;
    padding: 18px 98px;
    width: 370px;
    text-align: center;
}
.try{
    background-color: #794CFF;
    border-radius: 2px 4px 4px 2px;
    color: #FFF;
    padding: 18px 246px;
    border: 1px #794CFF solid;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}
.sponsors{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 101%;
    padding: 15px 0 30px 0;
    gap: 15px;
}
.sponsors-text{
    display: inline-flex;
    flex-direction: row;
    gap: 4px;
}
.sponsors-icons{
    display: inline-flex;
    flex-direction: row;
    gap: 42px;
}
.spons_text{
    color: #4E5A65;
    font-size: 14px;
}
.spons_number{
    color: #4E5A65;
    font-size: 14px;
    font-weight: 700;
}
.spons_icon{
    width: 60px;
}
.slack{
    width: 60px;
}
.main-box-first{
    border-top: 1px #F0EBFA solid;
    border-bottom: 1px #F0EBFA solid;
    width: 101%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.timeline{
    margin: 20px 0;
    width: 380px;
}
.signs{
    margin: 80px 0 30px 0;
    text-align: left;
}
.survey_sign{
    background-color: #F6F3FC;
    border-left: 8px solid #794CFF;
    border-bottom: none;
    border-radius: 0 10px 10px 0;
    padding: 20px 23px;
    width: 230px;
    
}
.survey_title{
    color: #35414B;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 5px;
}
.survey_text{
    color: #4E5A65;
    font-size: 12px;
    line-height: 12px;
}
.text_signs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
}
.text_sign{
    padding: 20px 25px;
}
.sign_title{
    color: #35414B;
    font-size: 14px;
    font-weight: 600;
}
.sign_text{
    color: #4E5A65;
    font-size: 12px;
    line-height: 12px;
}
.line{
    width: 100%; 
    height: 100%; 
    border: 1px #F0EBFA solid
}
.main-box-second{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 101%;
    padding-bottom: 50px;
}
.title_second{
    margin: 50px 0;
    color: #35414B;
    font-size: 36px;
    font-weight: 600;
}
.signs_second{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}
.sign_second_title{
    color: #35414B;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.sign_second_text{
    color: #4E5A65;
    font-size: 14px;
    line-height: 24px;
}
.sign_report{
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.sign_second_report{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #FEF6EE;
}
.pics{
    width: 25px;
}
.sign_contacts{
    width: 210px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 20px;
}
.sign_second_contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #E8FAFA;
}
.sign_avatar{
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.sign_second_avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #F7EBF9;
}
.sign_message{
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start; 
    
}
.sign_second_message{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #FFEFF3;
}
.more_info{
    text-decoration: none;
    margin-top: 40px;
    color: #7259FA;
    font-size: 16px;
    font-weight: 500;
    padding: 18px 85px;
    background-color: #ECE5FF;
    border-radius: 4px;
}
.main-box-third{
    border-top: 1px #F0EBFA solid;
    border-bottom: 1px #F0EBFA solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    width: 101%;
}
.text_third{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    order: 2;
}
.title_third{
    color: #35414B;
    font-size: 30px;
    font-weight: 600;
}
.subtitle_third{
    color: #4E5A65;
    font-size: 16px;
    width: 460px;
}
.link_start{
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    background-color: #796EFF;
    padding: 18px 100px;
    text-align: center;
    border-radius: 4px;
}
.data{
    width: 470px;
    order: 1;
}
.main-box-fourth{
    background-color: #fff;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 101%;
}
.title_fourth{
    color: #35414B;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 30px;
}
.subtitle_fourth{
    width: 540px;
    color: #4E5A65;
    font-size: 16px;
    padding-bottom: 50px;
}
.credits{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
}
.person_one{
    border-top: 4px #35414B solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    text-align: left;
    padding: 25px 15px 5px 15px;
    gap: 10px;
}
.credits_pics{
    width: 40px;
}
.credits_names{
    color: #4E5A65;
    font-size: 14px;
    font-weight: 600;
}
.credits_jobs{
    color: #4E5A65;
    font-size: 12px;
}
.person_two{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    text-align: left;
    padding: 25px 15px 5px 15px;
    gap: 10px;
}
.install_apps{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    padding: 50px 0px;
    background-color: #796EFF;
}
.text_apps{
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
.links_apps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.link_app_google{
    width: 180px;
    text-decoration: none;
}
.link_app_store{
    width: 180px;
    text-decoration: none;
}